
*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	width: auto;
}

.left{
	/*border: 2px solid red;*/
	width: 40%;
	height: 175vh;
	float: left;
	padding: 10px;
	position: relative;
	padding-left: 1%;
}

.intro{
	/*border: 2px solid green;*/
	height: 21%;
	position: relative;
	margin-bottom: 10px;
}

.intro img{
	height: 100px;
	width: auto;
	position: absolute;
	top: 28%;	
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro h1{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#intro_h{
	position: absolute;
	top: 61%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: normal;
}

.intro h4{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 13px;
}

.profile{
	/*border: 2px solid green;*/
	height: 23%;
	position: relative;
	margin-top: 3%;
}
.profile img{
	height: 50px;
	width: auto;
	position: absolute;
}

.profile h1{
	position: absolute;
	top: 2%;
	left: 11%;
	color: #006EB6;
}

.profile p{
	position: absolute;
	top: 23%;
	left: 1%;
	overflow: hidden;
}

.contact{
	/*border: 2px solid green;*/
	height: 23%;
	position: relative;
	margin: 10px 0px;
	margin-top: 3%;
}

.contact img{
	height: 50px;
	width: auto;
	position: absolute;
	top: 2%;
	left: 1%;
}

.contact h1{
	position: absolute;
	top: 3%;
	left: 12%;
	color: #006EB6;
}

.contact ul{
	list-style: none;
}

.contact ul li{
	margin: 10px;
}

#tag{
	position: absolute;
	top: 30%;
	left: 6%;
	color: #006EB6;
	font-weight: bold;
}

#details{
	position: absolute;
	top: 30%;
	left: 25%;
}

.skills{
	/*border: 2px solid green;*/
	height: 26%;
	position: relative;
	margin-top: 3%;
}

.skills img{
	height: 60px;
	width: auto;
	position: absolute;
	left: 1%;
}

.skills h1{
	position: absolute;
	top: 3%;
	left: 12%;
	color: #006EB6;
}

.skill_h{
	position: absolute;
	top: 22%;
	left: 27%;
}

.skill_h h2{
	color: #006EB6;
}

.right{
	/*border: 2px solid red;*/
	width: 55%;
	height: 175vh;
	float: right;
	padding: 10px;
}

.education{
	/*border: 2px solid green;*/
	height: 36%;
	position: relative;
}

.education img{
	height: 60px;
	width: auto;
	position: absolute;
	top: 2%;
	left: 2%;
}

.education h1{
	position: absolute;
	top: 4%;
	left: 12%;
	color: #006EB6;
}

.education ul{
	position: absolute;
	top: 21%;
	left: 6%;
}

.education li{
	margin-top: 10px;
	color: #006EB6;
	font-weight: bold;
}

.experience{
	/*border: 2px solid green;*/
	height: 33%;
	position: relative;
	margin: 10px 0;
}

.experience img{
	height: 60px;
	width: auto;
	position: absolute;
	top: 2%;
	left: 2%;
}

.experience h1{
	position: absolute;
	top: 4%;
	left: 12%;
	color: #006EB6;
}

.experience ul{
	position: absolute;
	top: 23%;
	left: 5%;
}

.experience li{
	margin-top: 15px;
	font-weight: bold;
}

.experience h3{
	font-weight: normal;
}

.software{
	/*border: 2px solid green;*/
	height: 28%;
	position: relative;
}

.software img{
	height: 60px;
	width: auto;
	position: absolute;
	top: 3%;
	left: 2%;
}

.software h1{
	position: absolute;
	top: 5%;
	left: 12%;
	color: #006EB6;
}

.sleft{
	/*border: 2px solid coral;*/
	height: 70%;
	width: 45%;
	position: absolute;
	top: 27%;
	left: 2%;
}

.sleft h4{
	margin-top: 10px;
}

#photoshop{
	height: 10px;
	width: 200px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}

#illustrator{
	height: 10px;
	width: 180px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}

#indesign{
	height: 10px;
	width: 160px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}

.sright{
	/*border: 2px solid coral;*/
	height: 70%;
	width: 45%;
	position: absolute;
	top: 27%;
	left: 52%;
}

.right h4{
	margin-top: 10px;
}

#dreamweaver{
	height: 10px;
	width: 200px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}

#aftereffects{
	height: 10px;
	width: 150px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}

#hc{
	height: 10px;
	width: 220px;
	background-color: #006EB6;
	margin: 5px 0;
	margin-bottom: 15px;
}
